apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false
  
  - name: Elasticsearch
    type: elasticsearch
    access: proxy
    url: http://elasticsearch:9200
    database: "logstash-*"
    basicAuth: false
    isDefault: false
  
  - name: PostgreSQL
    type: postgres
    access: proxy
    url: db:5432
    database: monitoring_db
    user: postgres
    secureJsonData:
      password: ${DB_PASSWORD}
    jsonData:
      sslmode: disable
